<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>飓风超跑-登录</title>
	<link rel="shortcut icon" href="img/favicon.ico" />

	<script src="js/jquery-1.12.3.min.js"></script>
	<script  src="./js/login.js"></script>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="css/default.css" />
</head>

<body>
<!--
    作者：future9988z@163.com
    时间：2018-06-19
    描述：导航栏 begin
-->
<div class="navigation">
	<div class="container-fluid" style="min-width: 1200px;max-width: 1200px;">
		<div class="nav-logo">
			<img src="img/logo-top110x110.png" style="width: 110px;height: 110px;" />
		</div>

		<div class="nav-users">

		</div>

	</div>
</div>
<!--
    作者：future9988z@163.com
    时间：2018-06-23
    描述：导航栏 end
-->
<div class="login-bg">
	<div class="container">
		<div class="login-box">
			<div class="login-title">
				<span>手机动态码登录</span>
			</div>
			<div class="login-input">
				<input type="text" maxlength="11" id="phoneNum" placeholder="请输入手机号" />
			</div>
			<div class="login-input">
				<input type="text" maxlength="4" id="code"  placeholder="请输入动态码" style="width: 190px;" />
				<button id="password">获取动态码</button>
			</div>
			<div class="login-tip">
				<input type="checkbox"  id="remember"/>  30天内免登录
			</div>
			<div class="login-submit">
				<button id="login">登录</button>
			</div>
		</div>
	</div>
</div>
</body>

</html>